body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif; 
}
.banner{
    width: 100%;
    margin-bottom: 50px;
}
#container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
h1{
    font-size: 40px;
    font-weight: 900;
    color: #323232;
}
.banner-para{
    color: #fff;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 15px;
    margin-bottom: 40px;
}
/* top-banner start */
.top-bg{
    background-image: url(images/larm-rmah.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.banner-wraper{
    margin: auto 165px;
}
.top-heading{
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
.link-btn{
    color: #fff;
    background-color: #f36d55;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.link-btn:hover{
    background-color: #f59688;
    transition: 0.5s;
}
/* top banner end */

/* donate today start */
.para-color{
    color:#7d7d7d;
    padding: 0px 170px;
}
.donate-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.donate-list a{
    display: block;
    padding: 35px 20px;
    background-color: #eae9e9;
    font-size: 35px;
    color: #5c5b5b;
    font-weight: bold;
    border: 3px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}
.donate-list a.active-list{
    background-color: #f7eeec;
    border: 3px solid #ff6347;
}
.donate-input{
    margin-top: 50px;
}
.donate-input input{
    text-align: center;
    width: 100%;
    color: #9d9d9d;
    font-size: 17px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #ebeaea;
}
/* donate today end */

/* our donate plan start */
.card-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.plan-card{
    text-align: left;
    padding: 50px 25px;
    border-radius: 5px;
    margin: 0px 12px;
}
.card1{
    background-color: #e3fcf9;
}
.card2{
    background-color: #fbedeb;
}
.card3{
    background-color: #fbf8ea;
}
h3{
    font-weight: bold;
    font-size: 20px;
    margin: 25px 0px;
    color: #323232;
}
.plan-para{
    font-size: 15px;
    color: #7d7d7d;
    font-family: 'Titillium Web', sans-serif;
}
/* our donate plan end */