body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif; 
}
.banner{
    width: 100%;
    margin-bottom: 100px;
}
.container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
h1{
    font-size: 40px;
    font-weight: bold;
    color: #323232;
}
.banner-para{
    color: #fff;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 15px;
    margin-bottom: 40px;
}
/* top-banner start */
.top-bg{
    background-image: url(images/larm-rmah.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.banner-wraper{
    margin: auto 165px;
}
.top-heading{
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
.link-btn{
    color: #fff;
    background-color: #f36d55;
    padding: 12px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.link-btn:hover{
    background-color: #f59688;
    transition: 0.5s;
}
/* top banner end */

/* donate today start */
.para-color{
    color:#323232;
    padding: 0px 170px;
}
.donate-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.donate-list a{
    display: block;
    padding: 35px 20px;
    background-color: #eae9e9;
    font-size: 35px;
    color: #5c5b5b;
    font-weight: bold;
    border: 3px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}
.donate-list a.active-list{
    background-color: #f7eeec;
    border: 3px solid #ff6347;
}
/* donate today end */